.About{
    height: 100vh;
    color: #312F2F;
}
 
.img{
    width: 35vw;
    height: 85vh;
}

.about-border{
    border-bottom: 1rem solid #1282A2;
}

.desktop{
    display: block;
    width: 35vw;
    height:50vh;

}

.mobile{
    display: none;
}

@media screen and (max-width:1024px){
    .About{
        height: 70vh; 
    }
    
    .img{
        width: 45vw;
        height: 60vh;
    }
    .desktop{
        display: block;
        width: 45vw;
        height: 30vh;
    
    }
    
    .mobile{
        display: none;
    }
        
        

    
}



@media screen and (max-width:480px){
    .About{
        height: 200vh;
    }
    
    .img{
        width: 90vw;
        height: 75vh;
    }
    .desktop{
        display: none;
    
    }
    
    .mobile{
        display: block;
        width: 90vw;
        height: 70vh;
    }

}