.About{
    padding-top: 5rem;
    padding-bottom: 5rem; 
    background-color: #FEFCFB;
    color: #312F2F;
    margin: 0 1rem 0 4rem;
}

.About p{
    margin-right: 10rem;
}


.img{
    width: 35vw;
    height: 85vh;
}


.about-border{
    border-bottom: 1rem solid #1282A2;
    width: 35vw;
}

.desktop{
    display: block;
    width: 35vw;
    height:50vh;
}


.mobile{
    display: none;
}
.btn{
    width: 15vw;
    height: 5vh;
    background-color:#1282A2 ;
    color: #FEFCFB;
    font-size: 1.2rem;
}

.btn:hover{
    opacity: 0.9;
    width: 17vw;
    height: 6vh;
}

@media screen and (max-width:1024px){
    .About{
        padding-top: 5rem;
        padding-bottom: 5rem; 
        display: flex;
        justify-content: space-between;
      

    }
    .About p{
        margin-right: 2rem;
    }
    
    .about-border{
        border-bottom: 1rem solid #1282A2;
        width: 35vw;
    }
    
    .img{
        width: 35vw;
        height: 35vh;
    }
    .desktop{
        display: block;
        width: 40vw;
        height: 30vh;
    
    }
    
    .mobile{
        display: none;
    }
    
    .btn{
        width: 15vw;
        height: 3vh;
        background-color:#1282A2 ;
        color: #FEFCFB;
        font-size: 1.2rem;
    }
    
    .btn:hover{
        opacity: 0.9;
        width: 17vw;
        height: 4vh;
    }
        

    
}



@media screen and (max-width:480px){
    .About{
        height: 170vh;
        display: flex;
        justify-content: space-between;
        margin: 0 0 0 0;

    }
    .About p{
        margin-right: 2rem;
    }
    
    .about-border{
        border-bottom: 1rem solid #1282A2;
        width: 75vw;
    }
    
    .img{
        width: 90vw;
        height: 60vh;
    }
    .desktop{
        display: none;
    
    }
    
    .mobile{
        display: block;
        width: 85vw;
        height: 60vh;
    }
    .btn{
        width: 25vw;
        height: 5vh;
        background-color:#1282A2 ;
        color: #FEFCFB;
        font-size: 1.2rem;
    }
    
    .btn:hover{
        opacity: 0.9;
        width: 27vw;
        height: 6vh;
    }

}