.About{
    height: 100vh;
    color: #312F2F;
}
 
.img{
    width: 45vw;
    height: 85vh;
}

.about-border{
    border-bottom: 1rem solid #1282A2;
}

.Skill{
    width: 8vw;
    height: 4.5vh;
    background-color: #C4C4C4;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bolder;
}

@media screen and (max-width:1024px){
    .About{
        height: 70vh; 
    }
    
    .img{
        width: 45vw;
        height: 60vh;
    }
    
}



@media screen and (max-width:480px){
    .About{
        height: 150vh;
    }
    
    .img{
        width: 90vw;
        height: 75vh;
    }

}