.NavbarItems{
    background:#FEFCFB;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    color: #312F2F;
    justify-self: start;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
}



.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content:end;
    margin-right: 2rem;
}

.nav-links{
    color:#312F2F;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover{
    background-color: #1282A2;
    border-radius: 4px;
    color: #FEFCFB;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: #312F2F;
}

.nav-links-mobile{
    display: none;
}
.menu-icon {
    display: none;

}


@media screen and (max-width:600px){
    .NavbarItems{
        position: relative;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active{
        background: #FEFCFB;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color:#1282A2 ;
        color: #FEFCFB;
        border-radius: 0;
    }

    .navbar-logo{
        position: absolute;
        top: 0.8rem;
        left: 0;
        transform:translate(25%,50%)
    }

    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times{
        color: #312F2F;
        font-size: 2rem;
    }
}