.Projects{
    height: 120vh;
    color: #312F2F;
}

.cards{
    width: 25vw;
    height: 40vh;
    background-color:#FEFCFB;
    border: 1px solid #1282A2;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width:1024px){
    .Projects{
        height: 100vh;
        color: #312F2F;
    }
    
    .cards{
        width: 25vw;
        height: 20vh;
        background-color:#FEFCFB;
        border: 1px solid #1282A2;
    }
    .row1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .row2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
}





@media screen and (max-width:480px){
    .Projects{
        height: 250vh;
        color: #312F2F;
    }
    
    .cards{
        width: 90vw;
        height: 35vh;
        background-color:#FEFCFB;
        border: 1px solid #1282A2;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .row1{
        display: flex;
        flex-direction: column;
        align-self: space-evenly;
    }
    .row2{
        display: flex;
        flex-direction: column;
    }
    
}